<table align="center" cellpadding="0" cellspacing="0" width="100%" bgColor="#ffffff" style="padding: 40px 20px 40px 20px; border-radius: 5px;">
  <tr>
    <td>
      <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <% user_name = if @user.try(:full_name).present? %>
          <% @user.try(:full_name) %>
        <% else %>
          <% @user.try(:email) %>
        <% end %>
        <tr><td style="font-size: 18px;"><strong>Hola <%= user_name %>, bienvenido a CTRL FLEET!</strong><br></td></tr>
        <tr><td height="15" style="font-size: 0; line-height: 0;">&nbsp;</td></tr>
        <tr>
          <td style="font-size: 14px;">
            Se ha realizado la creacion de una cuenta con el correo <%= @user.email %><br>
            Si no realizó esta solicitud, simplemente ignore este correo electrónico.<br>
            Para completar su registro haga click en el siguiente link
          </td>
        </tr>
        <tr><td height="15" style="font-size: 0; line-height: 0;">&nbsp;</td></tr>
        <tr>
          <td style="font-size: 14px;">
            <%= link_to nil, @confirmation_url %>
          </td>
        </tr>
        <tr><td height="15" style="font-size: 0; line-height: 0;">&nbsp;</td></tr>
        <tr>
          <td style="font-size: 14px;">
            Si la URL anterior no funciona, intente copiarla y pegarla en su navegador.<br>
            Si continúa teniendo problemas, no dude en contactarnos.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>